.u-row-container(style='padding: 0px;background-color: transparent')
  .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 550px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;')
    div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
      .u-col.u-col-100(style='max-width: 320px;min-width: 550px;display: table-cell;vertical-align: top;')
        div(style='width: 100% !important;')
          table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
            tbody
              tr
                td(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                  table(height='0px' align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #f1f1f1;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                    tbody
                      tr(style='vertical-align: top')
                        td(style='word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%')
                          span &nbsp;
          table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
            tbody
              tr
                td(style='overflow-wrap:break-word;word-break:break-word;padding:10px 10px 30px;font-family:arial,helvetica,sans-serif;' align='left')
                  div(style='line-height: 140%; text-align: left; word-wrap: break-word;')
                    p 
                     strong Kod zamówienia : [#{orderId}]
                    p(style='font-size: 14px; line-height: 140%;')
                      strong Masz jakieś pytanie? 
                      | Pamiętaj że możesz zawsze się z nami skontaktować mailowo 
                      span(style='text-decoration: underline; font-size: 14px; line-height: 19.6px;')
                        span(style='color: #e03e2d; font-size: 14px; line-height: 19.6px; text-decoration: underline;')
                          span(style='font-size: 14px; line-height: 19.6px;') kontakt@plejerek.pl 
                      br
                      span
                       | lub na chacie na naszej stronie https://plejerek.pl
.u-row-container(style='padding: 0px;background-color: transparent')
  .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 550px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
    div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
      .u-col.u-col-100(style='max-width: 320px;min-width: 550px;display: table-cell;vertical-align: top;')
        div(style='width: 100% !important;')
          table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
            tbody
              tr
                td(style='overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:arial,helvetica,sans-serif;' align='left')
                  div(style='color: #888888; line-height: 140%; text-align: center; word-wrap: break-word;')
                    p(style='font-size: 14px; line-height: 140%;')
                      | Wysyłamy powyższe wiadomości ponieważ dokonałeś zakupu w naszym serwisie
          table(style='font-family:arial,helvetica,sans-serif;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
            tbody
              tr
                td(style='overflow-wrap:break-word;word-break:break-word;padding:10px 10px 15px;font-family:arial,helvetica,sans-serif;' align='left')
                  div(style='color: #888888; line-height: 180%; text-align: center; word-wrap: break-word;')
                    p(style='font-size: 14px; line-height: 180%;') &copy; 2022 Plejerek.pl . Prawa zastrzeżone
